body {
    background-color: hsl(218, 28%, 13%);
    font-family: "raleway", ;
}


@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(216,53%,9%);
    line-height: 1.2rem;
    font-size: 16px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    quotes: '\201c' '\201d'; 
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem;
}

.grid-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

h3{
    margin-bottom: 1.3rem;
}

a{
    color: #fff;
    text-decoration: none;
}

.branding{
    padding: 1rem;
}


.flex-box{
    display: flex;
    gap: 1rem;
}

.lead{
    margin-bottom: 1.5rem;
    font-size: 12px;
}

.main-read .container{
    flex-direction: column;
}

.branding h3{
    text-align: left;
    font-size: 14px;
    font-weight: 700;
}


.cta-box{
    display: flex;
    justify-content: start;
    width: 100%;
    padding: 5px;
    align-items: center;
}

.cta{
    color: hsl(176,68%,64%);
    font-weight: 400;
    padding: 7px;
    font-size: 12px;
    border-bottom: 1px solid hsl(176,68%,64%);
}


.cta i{
    background: hsl(176,68%,64%);
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    color:hsl(216,53%,9%);
    padding: 2px;
    margin-left: 5px;
    text-align: center;
}

.img-box img{
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 5rem;
    padding: 2rem;
}







/* Feedback section*/

.feedback-boxes .fa-quote-left{
    color: hsl(176,68%,64%);
}

.feedback-boxes .grid-box{
    grid-template-columns: 1fr;
    gap: 2em;
}

.feedback-box{
    background-color: hsl(217,28%,15%);
    padding: 1rem;
    border-radius: 5px;
}

.feed-quote{
    margin-bottom: 2rem;
    font-size: 0.9rem;
}

.profile-img{
    display: flex;
    align-items: center;
}

.profile-img img{
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.profile-img .bio{
    display: flex;
    flex-direction: column;
}

.bio h3{
    margin-bottom: 0.3rem;
    font-weight: 400;
}

.bio p{
    font-size: 0.6rem;
    font-weight: 200;
}









/* Media queries */
@media screen and (min-width:768px){
    .main-read .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .feedback-boxes .grid-box{
        grid-template-columns: repeat(3,1fr);
        gap: 2em;
    }
}
